.body {
    margin: 0;
    font-family: Arial;
    background: #f7f2e9;
    height:100vh;
}
.headingtext{
    font-family: Papyrus;
    font-weight: bold;
    font-size: 40px;
    
    
}
.paratext{
    font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     font-size: 16px;
     flex-wrap: wrap;

}

.navbar {
    background: #4b3523;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar button {
    background-color: #ffb034;
     border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.heading {
    text-align: center;
  
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.card {
    background: white;
    width: 280px;
    border-radius: 8px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.card p {
    margin: 0 15px 10px;
    font-size: 14px;
    color: #6b5545;
}
.button{
    background-color: orange;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.text-align{
    text-align: center;
    margin: 10px;
}

header{
    background:papayawhip;
    color: rgb(78, 77, 77);
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

/* Carousel */
.carousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 300%;
    animation: slide 12s infinite;
}

.slides img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.menu-heading{
    text-align: center;
    margin: 20px;
    font-size: 28px;
}

.menu-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.card{
    width: 200px;
    background: #f2f2f2;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0 0 5px #ccc;
}

.card img{
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card h3{
    margin: 10px 0 5px;
}

.card p{
    font-weight: bold;
    color: #333;
}
.c{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
   
}
.p{
    padding: 10px;
   
}
.form-container {
    margin-top: auto;
    margin-bottom: auto;
    
      background-color: #fff;
      padding: 20px 30px;
      border-radius: 8px;
      max-width: 400px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-container_h2 {
      text-align: center;
      margin-bottom: 20px;
      background-color: bisque;
      
    }
.color{
    color: green;
}
.reserve{
    background-color: darkkhaki;
    height: 100vh;
}
.thankyou{
    background-color: orange;
     height: 100vh;
}
.margin{
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(255, 236, 212);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
    border-width: 2px solid blue;
    border-color:  hwb(38 2% 63%);
    font-size: 80px;
    
}
.f-img{
    transition-duration: 0.5s;
}
.f-img:hover{
    transform:translateY(-20px);
    box-shadow: 0 10px 20px gray;
}
.bh:hover{
   background-color: green ;
   color: #ccc; 
}
.s-img{
      transition-duration: 0.5s;
}
.s-img:hover{
    transform:translateY(-20px);
    box-shadow: 0 10px 20px gray;
}